:root {
    --bodyWidth: 100vh;
    --listContWidth: 80vh;
    --textBoxWidth: 65vh;
    --addTastTextboxWidth: 85vh;
    --delBtnWidth: 22vh;
    --delBtnHeight: 7vh;
}
h1{
    text-align: center;
    color: white;
}
.Main{
    background-image: url('toDoLightBg.jpg');
    width: var(--bodyWidth);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}
#msg{
    font-weight: bold;
    -webkit-text-stroke: 0.05px white;
}
.dropdown{
    position: relative;
    padding: 50px 50px 50px 20px;
}
.dropBtn{
    background-color: #3498DB;
    color: white;
    padding: 6px 16px 6px 16px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.dropContent{
    display: none;
    position: absolute;
    padding-top: 5px;
}
#addTaskText {
    font-size: 20px; 
    padding: 15px;
    width: var(--addTastTextboxWidth);
}
.show{
    display: flex;
}
.cutTask{
    text-decoration:line-through;
}
#listContainer{
    width: var(--listContWidth);
    margin: 25px;
}
.list{
    background-color: rgba(64, 224, 208, 0.5);
    padding: 10px 0px 10px 20px ;
    margin-top: 5px;
    display: flex;
}
input[type='text']{
    height: 30px;
    width: var(--textBoxWidth);
    border: none;
    border-bottom: 4px solid #2C567A;
    font-size: 15px;
}
input[type='text']:focus{
    border: 4px solid #2C567A;
    outline: none;
}
input[type='checkbox']{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
}
img{
    height: 25px;
    width: 25px;
    padding-top: 2px;
    padding-left: 5px;
    cursor: pointer;
}
#delAllBtn {
    /* height: 5vh; */
    display: none;
	background-color: #be2210;
	width: var(--delBtnWidth);
	height: var(--delBtnHeight);
	margin: auto;
	color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
	border-radius: 5px;
}

@media only screen and (max-width: 500px) {
    :root {
        --bodyWidth: 99vw;
        --listContWidth: 95vw;
        --textBoxWidth: 70vw;
        --addTastTextboxWidth: 80vw;
        --delBtnWidth: 40vw;
        --delBtnHeight: 10vw;
    }
    #msg {
        -webkit-text-stroke: 0.2px white;
    }
    #listContainer{
        margin: 1vw;
    }    
}